html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
          include  ../views/Home.css 
          include  ../views/Services.css
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")   
    body 
     nav
      ul 
       li #[a(href="/") Home]
       li #[a(href="/Services") Services]
       img(src="https://st.depositphotos.com/2926881/3774/v/950/depositphotos_37748769-stock-illustration-pizza-chef-logo.jpg", alt="logo")
       li #[a(href="/Delivery") Delivery]
       li #[a(href="/contact") Contact us] 
     section#parent 
      section#left 
       img(src="https://m.media-amazon.com/images/I/61YOnY7AdzL._SY550_.jpg", alt="Namaste")
      section#Middle 
       div#head
        |Services 
       div#Mid 
        div#facility
         img(src="https://static.dw.com/image/54667813_303.jpg",alt="Events")
         header
          |Party  
         div
          |Make your special Time unforgettable with our spectacular Services.. 
        div#facility
         img(src="https://upload.wikimedia.org/wikipedia/en/b/b5/Wireless-icon.png", alt="Events")
         header
          |Wi-Fi 
         div
          |We provide Free Wi-Fi service cause we know that your work should never stop..
        div#facility
         img(src="https://www.schlotzskys.com/-/media/schlotzskys/menu/beverages/coke-products_874x440.jpg?v=1&d=20210630T085825Z", alt="Events")
         header
          |Baverages 
         div
          |Fond of baverages give Us a try and enjoy your favourite baverage at it's prime taste..
        div#facility
         img(src="https://m.media-amazon.com/images/I/71TlRjhBE-L._AC_SX425_.jpg", alt="Events")
         header
          |Special arrangements 
         div
          |Everyone Cherish their special momments so do we. with our flexibility and wide range of arrangements we always make your special days unforgettable.. 
      section#right   
       img(src="https://m.media-amazon.com/images/I/61YOnY7AdzL._SY550_.jpg", alt="Namaste")
     footer
      div#copyright
       | All copyrights &copy are reserved by Kr.Restraunts and owner.
      div#contact 
       |For our Prestigeous Services Contact the belows:
      div#conta
       a(href="/") 9876586765 / 9785447657   